.dropdown-toggle, .dropdown{
  background-color: white;
  margin: 0;
  border-radius: 0;
}
.dropdown-toggle:hover{
  background-color: white;
}
.dropdown-menu{
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-color: white;
  border-style: solid;
  border-width: 0 1px;
  width: 100%;
  min-width: 4.85em;
  overflow-y: auto;
}
.dropdown-menu li{
  line-height: 2em;
  font-family: Lato;
  padding: 0 0.5em;
  cursor: pointer;
}
.dropdown-menu li:hover{
  background-color: #E67500;
  color: #ffffff;
}
.dropdown-value{
  font-weight: normal;
  color: #666666;
  text-align: left;
  display: block;
  text-transform: capitalize;
}
.caret{
  position: absolute;
  right: 0.5em;
}
.disabled-element{
  cursor: no-drop;
  background-color: #666666;
  border: 1px solid #666666;
  color: #666666;
  text-align: left;
}
.disabled-element ul, .disabled-element button, .disabled-element input{
  display: none;
}
.disabled-element .hint{
  color: #ffffff;
  display: inline-block;
  position: relative;
  white-space: pre;
}
