.custom-dropdown {
  position: relative;
  display: block;
  vertical-align: middle;
  background-color: white;
  font-size: 1rem;
}
.custom-dropdown select {
  font-style: italic;
  padding: 0.375em;
  padding-right: 2.5em;
  margin: 0;
  text-indent: 0.01px;
  text-align: left;
  text-overflow: "";
  -webkit-appearance: button;
}
.custom-dropdown option {
  font-style: normal;
}
.custom-dropdown option[disabled] {
  font-style: italic;
}
.custom-dropdown::before {
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: white;
  border: 1px solid #666666;
}
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  content: "▼";
  height: 1em;
  font-size: 1em;
  line-height: 1;
  right: 0.75em;
  top: 50%;
  margin-top: -0.5em;
}
.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}
