.dropdown-toggle, .dropdown{
  background-color: white;
  margin: 0;
  border-radius: 0;
}
.dropdown-toggle:hover{
  background-color: white;
}
.dropdown-menu{
  border-radius: 0;
  margin: 0;
  padding: 0;
  border-color: white;
  border-style: solid;
  border-width: 0 1px;
  width: 100%;
  min-width: 4.85em;
  overflow-y: auto;
}
.dropdown-menu li{
  line-height: 2em;
  font-family: Lato;
  padding: 0 0.5em;
  cursor: pointer;
}
.dropdown-menu li:hover{
  background-color: #E67500;
  color: #ffffff;
}
.dropdown-value{
  font-weight: normal;
  color: #666666;
  text-align: left;
  display: block;
  text-transform: capitalize;
  overflow: hidden;
}
.caret{
  position: absolute;
  right: 0.5em;
}
.disabled-field, .disabled-element{
  cursor: no-drop;
}
.disabled-element{
  background-color: #666666;
  border: 1px solid #666666;
  color: #666666;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.disabled-element ul, .disabled-element button, .disabled-element input{
  display: none;
}
.disabled-element .hint{
  color: #ffffff;
  display: inline-block;
  position: relative;
  white-space: pre;
}

.multiple-select-dropdown {
  font-family: 'Nunito';
  font-size: 1em;
  background: #666666;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.multiple-select-dropdown:hover {
  background: #E67500;
}

.multiple-select-dropdown:active {
  background: #27ae60;
  top: 2px;
}

.multiple-select-dropdown:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
  background: rgba(0, 0, 0, 0.15);
}

.multiple-dropdown-options li {
  line-height: 2em;
  font-family: Lato;
  padding: 0 0.5em;
  cursor: pointer;
}

.multiple-dropdown-options li:hover {
  background-color: #E67500;
  color: #ffffff;
  cursor: pointer;
}

.multiple-choice-title {
  color: #FFFFFF;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

li.selected {
  background-color: #E67500;
}

.multiple-dropdown-options li label {
  cursor: pointer;
}

.multiple-dropdown-options li label input[type=checkbox] {
  visibility: hidden;
}

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ms-choice {
  display: block;
  width: 100%;
  height: 70px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #666666;
  text-decoration: none;
  border: 1px solid #666666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}
.ms-choice:before{
  font-family: "FontAwesome";
  content: "\f078";
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
  left: 90%;
}
.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}

.ms-choice > span.placeholder {
  color: #999;
}

.ms-choice > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  background: url('multiple-select.png') left top no-repeat;
}

.ms-choice > div.open {
  background: url('multiple-select.png') right top no-repeat;
}

.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ms-drop.bottom {
  top: 100%;
}

.ms-drop.top {
  bottom: 100%;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}

.ms-search input {
  width: 100%;
  height: auto !important;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff url('multiple-select.png') no-repeat 100% -22px;
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search,
.ms-search input {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px;
  text-align: left;
}

.ms-drop ul > li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static;
}

.ms-drop ul > li .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
  display: block;
  float: left;
}

.ms-drop ul > li.group {
  clear: both;
}

.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-drop ul > li label {
  font-weight: normal;
  display: block;
  white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
  font-weight: bold;
}

.ms-drop input[type="checkbox"] {
  vertical-align: middle;
}

.ms-drop .ms-no-results {
  display: none;
}

.service_counter{
  color: white;
  left: 1.5em;
  position: absolute;
  top: 3.75em;
  z-index: 10;
  background-color: #666666;
  left: 50%;
  width: 4em;
  line-height: 1.35em;
}
