@media only screen and (min-width : 300px) and (max-width : 800px){
  body {
    font-size: 12px;
  }
  label {
    font-size: 1.5rem;
  }
  input[type=text]{
    height: 1em;
    font-size: 1.25rem !important;
    margin: 0 !important;
    padding: 1em 0 !important;
  }
  optgroup{
    font-size: 1.25rem;
    font-weight: bolder;
  }
  .onboarding_container{
    min-height: 700px;
    display: inline-block;
  }
  .row {
    margin: 0.5em 0;
  }
  .fs-title {
    font-size: 2rem;
  }
  .custom-dropdown {
    line-height: 1em;
  }
  .custom-dropdown select {
    font-size: 1.25rem;
    line-height: 1em;
  }
  .custom-dropdown option {
    font-size: 1rem;
  }
  .progressbar li {
    font-size: 1rem;
  }
  .progressbar li:before {
    font-size: 2rem;
  }
  .progressbar li:after {
    height: 1px;
    top: 2rem;
  }
  .msform .action-button {
    width: 40%;
  }
  .btn {
    font-size: 1rem;
  }
  .btn-sep {
    padding: 0.125em;
  }
  .tt-menu{
    font-size: 1rem;
  }
}
