@media only screen and (min-width : 600px) and (max-width : 1199px){
  .large-view{
    display: none;
  }
  .small-and-medium-view{
    display: block;
  }
  .onboarding_container{
    min-height: 1200px;
    display: inline-block;
  }
  .bottom-gutter{
    margin-bottom: 1.5em;
  }
  .orange-label{
    line-height: 1.5em;
    font-size: 1.75rem;
    width: 100%;
  }
  .label-text-align{
    position:relative;
    top: 0.5em;
  }
  input[type=text]{
    line-height: 2em;
    font-size: 1.75rem;
  }
  li > .hint{
    display: none;
  }
  .dropdown-toggle, .dropdown{
    height: 2.5em;
  }
  .dropdown-menu{
    max-height: 18em;
  }
  .dropdown-menu li{
    font-size: 1.75rem;
  }
  .dropdown-value{
    font-size: 1.75rem;
  }
  .caret{
    top: 1em;
  }
  .car-details-row {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .progressbar li {
    font-size: 1.5rem;
  }
  .progressbar li:before {
    font-size: 2.5rem;
  }
  .progressbar li:after {
    height: 2px;
    top: 2.5rem;
  }
  .animation-button{
    line-height: 2em !important;
    margin-top: 0.75em !important;
    font-size: 2rem !important;
  }
  .custom_checkbox {
    height: 2em;
  }
  .checkboxify {
    top: 0.25em;
    left: -2px;
  }
  /*typeahead customization*/
  .tt-menu{
    font-size: 1.75rem;
  }
  .tt-suggestion{
    font-size: 1.6rem;
  }
}
