@media only screen and (min-width : 600px) and (max-width : 1199px){
  .large-view{
    display: none !important;
  }
  .small-and-medium-view{
    display: block;
  }
  .onboarding_container{
    min-height: 50em;
    display: inline-block;
    margin-bottom: -2.5em;
  }
  .bottom-gutter{
    margin-bottom: 1.5em;
  }
  .gray-label, .orange-label{
    line-height: 1.5em;
    font-size: 1.75rem;
    width: 100%;
  }
  .help{
    font-size: 1.5rem;
  }
  .label-text-align{
    position:relative;
    top: 0.5em;
  }
   input[type=text], input[type=email]{
    line-height: 2em;
    font-size: 1.75rem;
  }
  li > .hint{
    display: none;
  }
  .dropdown-toggle, .dropdown{
    height: 2.5em;
  }
  .dropdown-menu{
    max-height: 18em;
  }
  .dropdown-menu li{
    font-size: 1.75rem;
  }
  .dropdown-value{
    font-size: 1.75rem;
  }
  .caret{
    top: 1em;
  }
  .btn-sep {
    padding: 0.5em;
    margin-left: 0;
    margin-right: 0;
  }
  .modal{
    margin-top: 8em;
  }
  .modal-title{
    font-size: 2rem;
  }
  .modal-body{
    font-size: 1.5rem;
  }
  .modal_embedded_images{
    height: 10em;
  }
  .engine_letters{
    background-position-x: -35em !important;
    background-position-y: -40em !important;
    background-position: -35em -40em !important;
    background-size: 200% !important;
  }
  .car-details-row {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .progressbar li {
    font-size: 1.5rem;
  }
  .progressbar li:before {
    font-size: 2.5rem;
  }
  .progressbar li:after {
    height: 2px;
    top: 2.5rem;
  }
  .animation-button{
    line-height: 2em !important;
    margin-top: 0.75em !important;
    font-size: 2rem !important;
  }
  .custom_checkbox {
    height: 2em;
  }
  .checkboxify {
    top: 0.25em;
    left: -2px;
  }
  label.disabled-element{
    display: none;
  }
  .disabled-element .hint{
    font-size: 1.75rem;
    line-height: 2em;
    left: 0.75em;
  }
    /*error page*/
  .apologize_text, .link{
    font-size: 1.75rem;
  }
  .error_number {
    width: 7em;
    height: 7em;
    margin-left: -1em;
  }
  .error_number span {
    font-size: 6em;
    top: 0.325em;
  }
   /*vin number feedback*/
   .car_details_message_box{
    line-height: 2em;
    font-size: 1.5rem;
    margin-bottom: 1em;
    width: 94%;
    position: relative;
    left: 3%;
   }
  .input_filling_feedback{
    top: -3.5em;
    left: 45%;
    font-size: 1.5rem;
  }
  .textarea_filling_feedback{
    top: -2em;
    left: 45%;
    font-size: 1.5rem;
  }
  /*confirmation page ovverrides*/
  h4{
    font-size: 1.25em;
    top: -0.35em;
    padding-left: 0.125em;
  }
  .success {
    width: 2.5em;
    height: 2.5em;
  }
  .success span {
    font-size: 2em;
    top: -6px;
  }
  .confirmation_page > .nav{
    margin-left: 0.5em;
  }
  .nav > .confirmation_header > a{
    padding-left: 5px;
  }
  /*bootstrap overrides*/
  .confirmation_header > .dropdown-toggle, .confirmation_header > .dropdown {
    height: 3.5em;
  }
  .panel-body{
    padding: 0 0.75em 0 0;
  }
  .list-group-item{
    padding-left: 0;
    padding-right: 0;
  }
  /*typeahead customization*/
  .tt-menu{
    font-size: 1.75rem;
  }
  .tt-suggestion{
    font-size: 1.6rem;
  }
  /*tooltips*/
  .normal_size{
    left: 3%;
    width: 94%;
    font-size: 1.5rem;
    top: -2em;
  }
  .small_size{
    top: -2em;
    font-size: 1.5rem;
  }
  .over_big_radiobuttons_row, .over_medium_radiobuttons_row, .over_small_radiobuttons_row{
    font-size: 1.5rem;
    left: 3%;
    top: 0em;
    width: 94%;
    -webkit-animation-name: bouncer_for_smalls_when_dropdowns;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 3;
    animation-name: bouncer_for_smalls_when_dropdowns;
    animation-duration: 1s;
    animation-iteration-count: 3;
  }

  @-webkit-keyframes bouncer_for_smalls{
   0% {top: -2em;}
   50% {top: -1em;}
   100% {top: -2em;}
  }
  @keyframes bouncer_for_smalls{
   0% {top: -2em;}
   50% {top: -1em;}
   100% {top: -2em;}
  }
  @-webkit-keyframes bouncer_for_smalls_when_dropdowns{
    0% {top: 0em;}
    50% {top: 1em;}
    100% {top: 0em;}
  }
  @keyframes bouncer_for_smalls_when_dropdowns{
    0% {top: 0em;}
    50% {top: 1em;}
    100% {top: 0em;}
  }

  @-webkit-keyframes bouncer_for_bigs{
   0% {top: -2em;}
   50% {top: -1em;}
   100% {top: -2em;}
  }
  @keyframes bouncer_for_bigs{
   0% {top: -2em;}
   50% {top: -1em;}
   100% {top: -2em;}
  }
}
