@media only screen and (min-width : 300px) and (max-width : 599px){
  .small-and-medium-view{
    display: block;
  }
  .large-view{
    display: none;
  }
  .onboarding_container{
    min-height: 25em;
    display: inline-block;
    margin-bottom: -3em;
  }
  .bottom-gutter{
    margin-bottom: 1em !important;
  }
  .orange-label{
    font-size: 1.25rem;
    width: 100%;
  }
  .help{
    font-size: 1.25rem;
  }
  .label-text-align{
    position:relative;
    top: 0.25em;
  }
  input[type=text]{
    line-height: 2em;
    font-size: 1.25rem;
  }
  li > .hint{
    display: none;
  }
  .checkbox_and_radio_container{
    height: 2.35em;
  }
  .dropdown-toggle, .dropdown{
    height: 2em;
  }
  .dropdown-menu{
    max-height: 9em;
  }
  .dropdown-menu li{
    font-size: 1.25rem;
  }
  .dropdown-value{
    font-size: 1.25rem;
  }
  .caret{
    top: 1em;
  }
  .modal{
    margin-top: 4em;
  }
  .modal-header{
    padding: 0.75em;
  }
  .modal-title{
    font-size: 1.25rem;
  }
  .modal-body{
    font-size: 1rem;
    padding 0 5px;
    line-height: 1.5rem;
  }
  .modal_embedded_images{
    height: 7em;
  }
  .vin_number{
    background-position-x: -6em !important;
    background-position-y: -6em !important;
    background-position: -6em -6em !important;
  }
  .engine_letters{
    background-position-x: -30em !important;
    background-position-y: -33em !important;
    background-position: -30em -33em !important;
  }
  .fs-title {
    font-size: 2rem;
    margin: 0 0 0.5em 0;
  }
  .progressbar {
    margin-top: -1.5em;
  }
  .progressbar li {
    font-size: 1rem;
  }
  .progressbar li:before {
    font-size: 2rem;
  }
  .progressbar li:after {
    height: 1px;
    top: 2rem;
  }
  .animation-button{
    line-height: 2.25em !important;
    font-size: 1.25rem !important;
  }
  .btn {
    font-size: 1rem;
  }
  .btn-sep {
    padding: 0.125em;
  }
  .filters {
    top: 0em;
  }
  .checkboxify {
    top: 0.1em;
  }
  label.disabled-element{
    display: none;
  }
  .disabled-element .hint{
    left: 0.75em;
    font-size: 1.25rem;
    top: 0.25rem;
  }
  /*typeahead customization*/
  .tt-menu{
    font-size: 1.25rem;
  }
  .tt-suggestion{
    font-size: 1.25rem;
  }
}
