@media only screen and (min-width : 300px) and (max-width : 599px){
  .small-and-medium-view{
    display: block;
  }
  .large-view{
    display: none;
  }
  .onboarding_container{
    min-height: 800px;
    display: inline-block;
  }
  .bottom-gutter{
    margin-bottom: 1em;
  }
  .orange-label{
    line-height: 2em;
    font-size: 1.25rem;
    width: 100%;
  }
  .label-text-align{
    position:relative;
    top: 0.25em;
  }
  input[type=text]{
    line-height: 2em;
    font-size: 1.25rem;
  }
  .checkbox_and_radio_container{
    height: 2.35em;
  }
  .dropdown-toggle, .dropdown{
    height: 2em;
  }
  .dropdown-menu li{
    font-size: 1.25rem;
  }
  .dropdown-value{
    font-size: 1.25rem;
  }
  .caret{
    top: 1em;
  }
  .row {
    margin: 0.5em 0;
  }
  .fs-title {
    font-size: 2rem;
    margin: 0;
  }
  .progressbar li {
    font-size: 1rem;
  }
  .progressbar li:before {
    font-size: 2rem;
  }
  .progressbar li:after {
    height: 1px;
    top: 2rem;
  }
  .msform .action-button {
    width: 40%;
  }
  .btn {
    font-size: 1rem;
  }
  .btn-sep {
    padding: 0.125em;
  }
  .filters {
    top: 0em;
  }
  /*typeahead customization*/
  .tt-menu{
    font-size: 1.25rem;
  }
  .tt-suggestion{
    font-size: 1.25rem;
  }
}
