.tooltips{
  position: absolute;
  color: #FFFFFF;
  background: #666666;
  text-shadow: 1px 1px 1px #000000;
  line-height: 3.25rem;
  text-align: center;
  display: none;
  opacity: 1;
  z-index: 999;
  text-transform: none;
  font-weight: bolder;
}

.small_size{
  left: 0;
  width: 100%;
  -webkit-animation-name: bouncer_for_smalls;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  animation-name: bouncer_for_smalls;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

.normal_size{
  -webkit-animation-name: bouncer_for_bigs;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 5;
  animation-name: bouncer_for_bigs;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

.tooltips:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.75em;
  width: 0; height: 0;
  border-top: 0.75em solid #666666;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
}
